* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;

}

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 50px;
}

h2 {
	font-size: 30px;
  display: inline-block;
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
	z-index: 100;
  position: relative;
  width: 350px;
  display: none;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.8);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}
.arrow-up-right{
	left: 35%;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}

.formholder input, #navthing input{
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
#navthing > input{
	position: relative;
	top: -5px;
	max-width: 400px;
	padding: 10px;
	display: inline-block;
	margin-left: 13%;
}
.formholder input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #DF0101;
}

.randompad {
  padding: 10px;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: red;
}


#contenedor{
	padding: 10px;
	background-color: #F6D8CE;
	width: 900px;
	height: 490px;
	margin: auto;
	border-radius: 15px;
}
#layout-izquierda{
	display: none;
	float: left;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	width: 65%;
	background-color: #F8E6E0;
	height: 100%;
	border-radius: 15px 0 0 15px;
}
#layout-derecha{
	display: none;
	float: left;
	padding:0px;
	box-sizing: border-box;
	width: 35%;
	height: 100%;
}





.contenedor-imagen{
	position: relative;
	float:left;
	width: 40%;
	height: 300px;
}

#image{
	top: -25px;
	position: absolute;
	width: 265px;
	height: auto;
	left: -25px;
}


#derecha{
	padding: 10px;
	float: left;
	width: 56%;
}

.sombraGrande{
	margin-bottom: 15px;
	box-shadow: 8px 8px 0 0 rgba(0,0,0,0.2);
	border: 3px solid #585858;
	background-color: white;
	border-radius: 10px;
	width: 100%;
	height: 80px;
}

.titulo{
	background-color: #FA5858;
	border-radius: 7px 7px 0 0;
	position: relative;
}
#contenedor h2{
	padding: 0;
	position: relative;
	top:-2px;
	text-shadow: -2px 0 #2E2E2E, 0 2px #2E2E2E, 2px 0 #2E2E2E, 0 -2px #2E2E2E;
}
#contenedor-nombre > h2{
	margin: 10px 20px;
}

.icono, .icono img{
	width: 30px;
	height: 30px;
	position: relative;
	top: 1px;
}
#divTipo2{
	display: none;
}
.tipo{
	font-size: 25px;
	border: 3px solid #585858;
	width: 100px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	margin: 15px 0 25px 25px;
	padding: 5px 10px;
	text-transform: uppercase;
	background-color: #D8F781;
}
.blue{
	background-color: #81BEF7;
	margin-left: 10px;
}

.detalles{
	width: 300px;
	margin-left: 8px;
	box-sizing: border-box;
	padding: 8px 0 0 20px;
}

.abajo{
	box-shadow: none;
	position: absolute;
	width: 555px;
	height: 150px;
	bottom: 0;
}

.borderojo{
	border-radius: 6px;
	width: 515px;
	height: 100%;
	border-left: 20px  solid #FE2E2E;
	border-right: 20px  solid #FE2E2E;

}

.btn{
	width: 140px;
	margin-top: 2px;
	margin-left: 12px;
	background-color: #FA8258;
	border-radius: 5px;
	border: 3px solid #585858;
	padding: 4px;
	font-size: 25px;

}
.btn:hover{
	cursor: pointer;
	background-color: #FF8000;
}

#fieldHabilidades{
	width: 89%;
	margin: 10px;
	height: auto;
	padding: 10px;
}

#fieldMovimientos{
	width: 89%;
	margin:10px;
	height: auto;
	padding: 10px;
}

fieldset h2{
	display: block;
}

fieldset{
	border: 2px solid gray;
	width: 90%;
	padding: 10px;
}

.habitat{
	height: 50px;
	width: 190px;
	position: absolute;
	bottom: 0;
	margin: 0 0 10px 10px;
}

#divEvoluciones{
	padding: 15px;
	display: none;
	overflow: scroll;
	height: 420px;
}

.pokemonEvolucion{
	margin: 15px 0;
	height: 80px;
	display: block;
	width: 100%;
}

.pokemonEvolucion:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}

.pokemonEvolucion img{
	float: left;
	height: 80px;
	width: 80px;
}
.pokemonEvolucion h2{
	margin-top: 25px;
}

#inicio{
	text-align: center;
	padding-top: 40px;
}

.randompad fieldset{
	border: none;
}
#errorLogin, #errorRegistro{
	display: none;
	color: gray;
}

#usuarioLogueado{
	display: none;
}
.borderojo{
  overflow: scroll;
}

#contenedorBtnFavorito #btnFavorito{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 1px;
}
#contenedorBtnFavorito #btnFavorito:hover{
	cursor: pointer;
	filter: grayscale(50%);
}

.bw{
	filter: grayscale(100%);
}

.divContenedor{
	float: left;
	width: 23%;
	height: 220px;
	box-shadow: 0 0 10px black;
	border-radius: 8px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.divContenedor h2{
	padding-left: 10px !important;
}
.divContenedor img{
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
}
.tituloPerfil{
	display: block;
	text-align: center;
}
a{
	font-size: 20px;
}



